<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @politician.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @politician.lastname %>
</p>

<h1>Precedents</h1>

<% if @politician.precedents.blank? %>
  No precedents registered
<% else %>
  <% for precedent in @politician.precedents %>
    <ul>
      <li><%= link_to "#{precedent.title}", precedent %></li>
    </ul>
  <% end %>
<% end %>

<h1>Statistics</h1>

<ul>
  <li>Total precedents: <%= @politician.precedents.size %></li>
</ul>

<%= link_to 'Edit', edit_politician_path(@politician) %> |
<%= link_to 'Back', politicians_path %>
