<%= form_for(@precedent) do |f| %>
  <% if @precedent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@precedent.errors.count, "error") %> prohibited this precedent from being saved:</h2>

      <ul>
      <% @precedent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel-body">

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h3>Sources</h3>
        <div id="sources">
          <%= f.fields_for :sources do |source| %>
            <%= render 'source_fields', :f => source %>
          <% end %>

          <div class="links">
            <%= link_to_add_association 'Add source', f, :sources, class: 'btn btn-default add-button' %>
          </div>
        </div>
        
      </div>

      <div class="col-md-6">
        <h3>Politicians</h3>
        <div id="politicians">
          <%= f.fields_for :politicians do |politician| %>
            <%= render 'politician_fields', :f => politician %>
          <% end %>

          <div class="links">
            <%= link_to_add_association 'Add politician', f, :politicians, class: 'btn btn-default add-button' %>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
