<div class="nested-fields">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= link_to_remove_association "Remove politician", f, class: "form-button btn btn-default" %>
</div>
