<div class="nested-fields">
  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <%= link_to_remove_association "Remove source", f, class: "form-button btn btn-default" %>
</div>
