<p id="notice"><%= notice %></p>

<nav class="navbar options">
  <ul>
    <%= link_to 'New Precedent', new_precedent_path, class: "btn btn-default" %>
  </ul>
</nav>

<% @precedents.each_slice(3) do |precedents| -%>
<div class="row">
  <% precedents.each do |precedent| -%>
  <div class="col-md-4">
    <div class="precedent">
      <%= precedent.title %>
      <div class="options">
        <%= link_to 'Show', precedent, class: "btn btn-default" %>
        <%= link_to 'Edit', edit_precedent_path(precedent), class: "btn btn-default" %>
        <%= link_to 'Destroy', precedent, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
      </div>
    </div>
  </div>
  <% end -%>
</div>
<% end -%>
