<p id="notice"><%= notice %></p>

<div class="main-content">

  <div id="precedent_top" class="row">
    <div class="col-md-4">
      :)
    </div>

    <div class="col-md-4">
      <div id="precedent_info">
        <h1><%= @precedent.title %></h1>
        <p class="description"><%= @precedent.description %></p>
      </div>
    </div>
  </div>  <!-- #precedent_top.row -->

  <div class="row">
    <div class="col-md-6">
      <div id="politicians">
        <h2>Politicians</h2>
        <% if @precedent.politicians.blank? %>
          No politicians involved
        <% else %>
          <ul>
            <% @precedent.politicians.each do |politician| -%>
            <li><%= link_to politician.name, politician %></li>
            <% end -%>
          </ul>
        <% end -%>
      </div>  <!-- #politicians -->
    </div>

    <div class="col-md-6">
      <div id="sources">
        <h2>Sources</h2>
        <% if @precedent.sources.blank? %>
          No sources registered
        <% else %>
          <ul>
            <% @precedent.sources.each do |source| -%>
            <li><%= link_to source.url, source %></li>
            <% end -%>
          </ul>
        <% end -%>
      </div>  <!-- #sources -->
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Edit', edit_precedent_path(@precedent), class: "btn btn-default" %>
      <%= link_to 'Back', precedents_path, class: "btn btn-default" %>
      <%= link_to 'Delete', precedents_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default" %>      
    </div>
  </div>

</div>
