<!DOCTYPE html>
<html>
<head>
  <title>Historial de políticos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default">

    <div class="container">
    
      <div class="navbar-brand">
        <%= link_to "Historial de políticos", root_path %>
      </div>  <!-- navbar-brand -->

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "New precedent", new_precedent_path %></li>
        <li><%= link_to "Sign in", root_path %></li>
      </ul>  <!-- nav navbar-nav navbar-right -->

    </div>  <!-- container -->

  </nav>  <!-- navbar navbar-default -->

  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert" %>
    <% end %>

    <%= yield %>
  </div>  <!-- .container -->

</body>
</html>
